.thermometer {
	width: 20px;
	height: 100px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 0;
}

.thermometer .fill {
	padding: 0;
	margin: 0;
	margin-top: 75px;
	background-color: red;
	height: 25px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.thermometer .fill .label {
	margin-top: 0;
	margin-left: 23px;
	font-size: 10px;
}